Output
.vs
Engine/x64/Debug
DX_rks/x64/Debug
Library/Lib/FBX/debug/libxml2-mt.lib
Library/Lib/FBX/debug/libfbxsdk.dll
Library/Lib/FBX/debug/libfbxsdk.lib
Library/Lib/FBX/debug/libfbxsdk-md.lib
Library/Lib/FBX/debug/libfbxsdk-mt.lib
Library/Lib/FBX/debug/libxml2-md.lib
Library/Lib/FBX/release/libfbxsdk.dll
Library/Lib/FBX/release/libfbxsdk.lib
Library/Lib/FBX/release/libfbxsdk-md.lib
Library/Lib/FBX/release/libfbxsdk-mt.lib
Library/Lib/FBX/release/libxml2-md.lib
Library/Lib/FBX/release/libxml2-mt.lib
Library/Include/FBX/fbxsdk/core/arch
Library/Include/FBX/fbxsdk/core/base
Library/Include/FBX/fbxsdk/core/math
Library/Include/FBX/fbxsdk/core
Library/Include/FBX/fbxsdk/fileio
Library/Include/FBX/fbxsdk/scene
Library/Include/FBX/fbxsdk/fbxsdk_nsbegin.h
Library/Include/FBX/fbxsdk/fbxsdk_nsend.h
Library/Include/FBX/libxml2
