.vs/D3DX12_begin/v16/.suo
.vs/D3DX12_begin/v16/Browse.VC.db
D3DX12_begin/x64/Debug/D3DX12_begin.tlog/CL.command.1.tlog
D3DX12_begin/x64/Debug/D3DX12_begin.tlog/CL.read.1.tlog
D3DX12_begin/x64/Debug/D3DX12_begin.tlog/CL.command.1.tlog
D3DX12_begin/x64/Debug/D3DX12_begin.tlog/CL.command.1.tlog
D3DX12_begin/x64/Debug/D3DX12_begin.tlog/CL.write.1.tlog
D3DX12_begin/x64/Debug/D3DX12_begin.tlog/link.command.1.tlog
D3DX12_begin/x64/Debug/D3DX12_begin.tlog/link.read.1.tlog
D3DX12_begin/x64/Debug/D3DX12_begin.tlog/link.write.1.tlog
D3DX12_begin/x64/Debug/D3DX12_begin.tlog/unsuccessfulbuild
D3DX12_begin/x64/Debug/vc143.idb
D3DX12_begin/x64/Debug/vc143.pdb
x64
.vs
